main {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;

	/* Layout for the canvas and content */
	.canvas-container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.canvas-content {
			position: absolute;
			width: 100%;
			height: 100%;

			canvas {
				background-color: #1a1a1a;
			}
		}
	}

	.aside {
		background-color: #121212;

		.accordion {
			margin: 4px;
			background-color: #1a1a1a;
		}
	}
}


footer {
	display: flex;
	height: 24px;
	width: 100%;
	padding: 0px 4px;
	color: white;
}
