.main {
	display: flex;
	flex-direction: column;

	label {
		padding: 0 4px;
	}

	fieldset {
		margin: 0 0 4px 0;
		padding: 4px 8px;
		border: 1px solid white;
		border-radius: 4px;

		legend {
			padding: 0 4px;
			font-weight: bold;
		}
	}
}
