.main {
  position: relative;
	flex-shrink: 0;

  .resizeTop {
    position: absolute;
    z-index: 10;
    top: -2px;
    left: 0px;
    width: 100%;
    height: 4px;
    cursor: ns-resize;
  }

  .resizeRight {
    position: absolute;
    z-index: 10;
    top: 0px;
    right: -2px;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
  }

  .resizeBottom {
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 4px;
    cursor: ns-resize;
  }

  .resizeLeft {
    position: absolute;
    top: 0px;
    left: -2px;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
  }
}

